profile.css .list-group-item {
  border-radius: 0%;

  /* width: 50%; */
  transition: transform 0.2s;
}
.list-group-item:hover {
  background-color: aliceblue;
  transform: scale(1.05);
}

.card-title,
.mb-3,
.card-text,
.form-control {
  color: #385a64;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
}

.btn {
  background-color: #00dfc0;
  border-color: #00dfc0;
  color: #385a64;
  transition: transform 0.5s;
  margin-right: 10px; /* To give some space between the button and form */
}

.btn:hover {
  background-color: #385a64;
  border-color: #385a64;
  color: #00dfc0;
}

.slideRight {
  transform: translateX(calc(100% - -435%)); /* Adjust the value as needed */
}

.slideLeft {
  transform: translateX(0);
}
