.heade {
    background-color: #00DFC0;
    color: #385A64;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3%;
    /* margin-left: 30%;
    margin-right: 30%; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.topl {
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(5, 5, 5);
    padding: 5px;
    border-radius: 20px;
    margin-top: 3%;
    max-width: 100%;

}

.topl img {
    border-radius: 10px;
    /* Adjust the value to your preference */
    height: 350px;
    width: 500px;
}

.topr {

    background-color: rgb(255, 255, 255);
    text-align: center;
    color: #385A64;
    padding: 5px;
    border-radius: 20px;
    margin-top: 3%;
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topr h1 {
    border-bottom: 5px solid #00DFC0;
    /* Choose your desired color */
    display: inline-block;
    padding-bottom: 5px;
}

.topr h1,
.topr h2 {
    font-weight: bold;
}

.mid {
    background-color: #00DFC0;
    text-align: center;
    color: #385A64;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 100%;

}

.row {
    margin-top: 2%;
    /* margin-left: 3%; */
    justify-content: center;
    max-width: 100%;
}

.card-style {
    /* background-color: #00DFC0; */
    color: #385A64;
    width: 25rem;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mir img {
    border-radius: 10px;
    /* Adjust the value to your preference */
    /* Adjust the values for shadow as needed */
    height: 350px;
    width: 500px;
    margin-top: 80px;
}

.mil {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    margin-top: 100px;
    max-width: 100%;
}

.mil h3 {
    border-bottom: 5px solid #00DFC0;
    /* Choose your desired color */
    display: inline-block;
    padding-bottom: 5px;
    /* Adjust as needed */
    color: #385A64;
}

.mil p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.works h2 {
    border-bottom: 5px solid #00DFC0;
    /* Choose your desired color */
    display: inline-block;
    padding-bottom: 5px;
    color: #385A64;
}

.botr h2 {
    border-bottom: 5px solid #00DFC0;
    /* Choose your desired color */
    display: inline-block;
    padding-bottom: 5px;
    color: #385A64;
}

.botl {
    text-align: left;
    font-weight: bold;
}

.bot {
    margin-top: 2%;
    font-size: larger;

}

.get-started-button {
    background-color: #00DFC0;
    /* Change to your desired button color */
    /* Set border color to match the background color */
    color: #385A64;
    /* Text color */
    font-weight: bold;
    padding: 15px 30px;
}

@media (max-width: 768px) {

    /* Adjust the layout for screens with a maximum width of 768px */
    .topl,
    .topr,
    .mil,
    .row,
    .mid {
        max-width: 100%;
        /* Adjust as needed for responsiveness */
    }
}
